.form {
  label {
    margin-bottom: 1rem;
    display: block;
  }
  input {
  }
  div {
    display: flex;
    margin-bottom: 1rem;
    button {
      margin-left: 1rem;
    }
  }
}
nb-icon {
  cursor: pointer;
}

::ng-deep .info-playlist {
  margin-bottom: 2rem;
  nb-progress-bar .progress-container {
    background-color: #edf1f7 !important;
  }
  nb-progress-bar.size-tiny .progress-container {
    height: 10px;
  }
  .progress-value {
    position: relative;
  }
  .progress-value::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }
  .progress-value::after {
    animation: move 2s linear infinite;
  }
}
