<nb-layout windowMode>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <div class="auto__speed">
          <nb-toggle (checkedChange)="changeMode($event)" status="primary"
            >Auto speed</nb-toggle
          >
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="form">
          <label for="speed">Speed</label>
          <div>
            <input
              nbInput
              fullWidth
              id="speed"
              type="number"
              #speed
              placeholder="Speed Car"
              [formControl]="speedForm"
            />
            <button nbButton>Save</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="process__upload info-playlist">
              <nb-progress-bar
                [value]="progress"
                status="primary"
                [displayValue]="true"
              ></nb-progress-bar>
            </div>
          </div>
        </div>
        <div
          class="row"
          style="display: flex; justify-content: space-between; margin: 0 2rem;"
        >
          <div class="" style="margin-bottom: 2rem;">
            <div class="control">
              <div class="button1">
                <button
                  [status]="mode__Speed === 1 ? 'success' : 'primary'"
                  style="margin-left: 3.3rem;"
                  nbButton
                  (mousedown)="sendRequest(1)"
                  (mouseup)="clearRequest()"
                >
                  <nb-icon icon="arrow-upward-outline"></nb-icon>
                </button>
              </div>
              <div class="button2">
                <button
                  style="margin-right: 3rem;"
                  nbButton
                  [status]="mode__Speed === 3 ? 'success' : 'primary'"
                  (mousedown)="sendRequest(3)"
                  (mouseup)="clearRequest()"
                >
                  <nb-icon icon="arrow-back-outline"></nb-icon>
                </button>
                <button
                  [status]="mode__Speed === 4 ? 'success' : 'primary'"
                  nbButton
                  (mousedown)="sendRequest(4)"
                  (mouseup)="clearRequest()"
                >
                  <nb-icon icon="arrow-forward-outline"></nb-icon>
                </button>
              </div>
              <div class="button3">
                <button
                  [status]="mode__Speed === 2 ? 'success' : 'primary'"
                  style="margin-left: 3.3rem;"
                  nbButton
                  (mousedown)="sendRequest(2)"
                  (mouseup)="clearRequest()"
                >
                  <nb-icon icon="arrow-downward-outline"></nb-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="" style="display: flex; align-items: center;">
            <nb-icon
              style="font-size: 5rem;"
              icon="gas__speed"
              pack="social-networks"
              (click)="sendResquestWithSpeed(speed.value)"
            ></nb-icon>
            <nb-icon
              style="font-size: 5rem;"
              icon="stop__speed"
              pack="social-networks"
              (click)="stop()"
            ></nb-icon>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
